* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
header {
  background: rgba(229, 84, 115, 0.110);

}
/* banner area styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 120px 200px;
  
}
.banner img {
  width: 550px;
  margin-left: 40px;
}
.banner-content h1 {
  color: #272727;
  width: 700px;
  font-size: 80px;

  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 25px 0;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}
